{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Recipe Finder - Discover Delicious Recipes {% endblock %}</h1></span>
    

    <header>
        <h1>Welcome to Recipe Finder</h1>
        <p>Discover Delicious Recipes</p>
      </header>

    <div class="content">
        <input type="text" class="search-input" placeholder="Enter your search query">
        <button class="search-button">Search</button>

        <form action = "/api/recipes/save" method = "POST">
            <input type = "text" name = "name" placeholder = "recipe name" required=""/>
            <input type = "text" name = "instructions" placeholder = "instructions" required =""/>
            <input type = "submit" value = "submit"/>
        </form>
    </div>
{% endblock %}